.walletmodal-wrapper {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid #828FBB;
    background: #232846;
  }
  
  .walletbutton {
    border-radius: 15px;
    border: 1px solid #A5ABBD;
    background: rgba(21, 24, 40, 0.10);
    backdrop-filter: blur(10px);
    outline: currentcolor none medium;
    width: 93% !important;
    display: flex;
    flex-direction: row;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    padding: 1rem;
    margin: auto;
    opacity: 1;
    height: 64px;
  }
  
  .walletbutton:hover {
    border-radius: 15px;
    border: 1px solid #41D8E7;
    background: rgba(65, 216, 231, 0.10);
    backdrop-filter: blur(10px);
  }
  