.sell-input {
  border-radius: 8px;
  border: 1px solid #8e97cd;
  padding: 11px 10px;
  background: transparent;
  color: #c0cbf7;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.216px;
}

.input-wrappers {
  border-radius: 10px;
  background: #181c30;
  box-shadow: 0px 4px 13px 0px rgba(50, 183, 234, 0.2);
  padding: 20px;
  border: none !important;
}

.placeorder-title {
  color: #32b7ea;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 10px; /* 41.667% */
  letter-spacing: -0.432px;
}
.chainbtn-inactive {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  padding: 5px 10px;
  border: 1px solid transparent;
}
.chainbtn-active {
  border-radius: 8px;
  border: 1px solid #0d91c3;
  background: rgba(13, 145, 195, 0.3);
  color: #f7f7fc;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  padding: 5px 10px;
}
.chainbtn-inactive:hover {
  border-radius: 8px;
  border: 1px solid #0d91c3;
  background: rgba(13, 145, 195, 0.3);
}

.custom-width-btn {
  width: fit-content !important;
}

.balance-text {
  color: #c0cbf7;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.216px;
}

.max-btn {
  padding: 5px 15px;
  border: none;
  outline: none;
  border-radius: 6px;
  border: 1px solid #41d8e7;
  color: #41d8e7;
  font-size: 12px;
  right: 10px;
  z-index: 33;
  top: 6px;
}

.max-btn-disabled {
  padding: 5px 15px;
  border: none;
  outline: none;
  border-radius: 6px;
  border: 1px solid #41d8e7 !important;
  color: #41d8e7 !important;
  font-size: 12px;
  opacity: 0.3;
  pointer-events: none;
  right: 10px;
  z-index: 33;
  top: 6px;
}

.balance-wrapper {
  right: 0;
  background: #b98a7f;
  padding: 1px 10px;
  border-radius: 8px;
}

.sell-input:disabled {
  color: rgba(255, 255, 255, 0.7);
}

.receive-texts {
  color: #c0cbf7;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.fee-txt {
  color: #c0cbf7;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.18px;
}

.infoRed {
  top: 12px;
  right: 10px;
  cursor: pointer;
}

.status-item {
  border-radius: 8px;
  border: 1px solid #8e97cd;
  cursor: pointer;
  min-width: 73px;
  display: flex;
  justify-content: center;

}

.status-txt {
  color: #c0cbf7;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.216px;
}

.status-item-active {
  border-radius: 8px;
  border: 1px solid #41d8e7;
  cursor: pointer;
  display: flex;
  min-width: 73px;
  justify-content: center;

}

.status-txt-active {
  color: #41d8e7;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.216px;
}

.checkicon {
  position: absolute;
  left: -7px;
  top: 7px;
}

.tooltip-wrapper {
  background: #232846;
  box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  position: absolute;
  top: 100%;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s;
  border: 1px solid #828FBB;
}

.tooltip-active {
  opacity: 1;
  visibility: visible;
}

.tooltip-content {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #fff;
}



.MuiFormLabel-root,
.MuiInputLabel-root {
  color: #8e97cd !important;
  background: transparent !important;
  font-size: 12px !important;
}

.MuiFormControl-root {
  margin: 0 !important;
  min-width: 165px !important;
}

.MuiPopover-paper,.dropdown-menu {
  background: #232846 !important;
  border: 1px solid #828fbb !important;
}

.MuiMenuItem-root, .dropdown-item {
  color: #c0cbf7 !important;
}
.dropdown-item {
  border: 1px solid transparent;
}

.dropdown-item:hover {
  border: 1px solid #0D91C3;
  background: rgba(13, 145, 195, 0.30);  
}

.receive-wrapper {
  border-radius: 8px;
  background: #232846;
}

.MuiInputBase-root,
.MuiOutlinedInput-root,
.MuiSelect-root {
  border: 1px solid #8e97cd !important;
  color: #c0cbf7 !important;
  font-weight: 400 !important;
  border-radius: 8px !important;
  font-size: 12px !important;
}

.MuiSelect-select,
.MuiInputBase-input,
.MuiOutlinedInput-input {
  display: flex;
  align-items: center;
}

.tokenlogo {
  width: 20px;
  height: 20px;
}

.MuiSvgIcon-root,
.MuiSelect-icon {
  color: inherit !important;
}

@media only screen and (max-width: 991px) {
  .want-to-sell-wrapper,
  .listing-wrapper {
    margin-top: 5rem !important;
  }
}

@media only screen and (max-width: 600px) {
  .MuiMenuItem-gutters {
    padding-right: 6px !important;
    padding-left: 6px !important;
    font-size: 12px !important;
  }
  .sell-input {
    padding: 5px 10px;
    font-size: 12px;
  }

  .balance-text {
    font-size: 10px;
  }

  .MuiFormControl-root {
    min-width: 85px !important;
  }

  .MuiFormLabel-root,
  .MuiInputLabel-root {
    font-size: 12px !important;
  }
  .MuiSelect-select,
  .MuiInputBase-input,
  .MuiOutlinedInput-input {
    padding: 5px !important;
    font-size: 12px !important;
  }

  .MuiSvgIcon-root,
  .MuiSelect-icon {
    right: 0 !important;
  }

  .tokenlogo {
    width: 15px;
    height: 15px;
  }

  .balance-amount {
    line-height: 10px;
  }

  .balance-wrapper {
    padding: 0;
    top: -1px;
  }
  .max-btn {
    font-size: 12px;
  }
}
