.listing-items-wrapper {
  border-radius: 8px;
}

.listing-wrapper-homepage {
  background: #232846;
  backdrop-filter: blur(10px);
}

.listing-single-item {
  border-radius: 4px;
  background: #303a63;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listing-single-item:hover {
  text-decoration: underline;
}

.active-item {
  cursor: pointer;
  border-radius: 4px;
  background: #0d91c3;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkboxtxt {
  color: #828fbb;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.select-btn {
  border-radius: 20px;
border: 1px solid #41D8E7;
background: #303A63;
color: #FFF;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.7px;
text-transform: capitalize;
}

.select-btn-active {
  border-radius: 20px;
  background: linear-gradient(263deg, #41D8E7 0%, #00A1AF 100%);
color: #232846;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.7px;
text-transform: capitalize;
border: 1px solid #41D8E7;
}

.checkboxtxt-active {
  color: #41D8E7;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;

}

.MuiFormControlLabel-root {
  margin-right: 0 !important;
}

.MuiTableContainer-root {
  background-color: rgba(76, 99, 166, 0.3) !important;
}

.MuiTableRow-root {
  border-radius: 10px !important;
  border-color: #232846 !important;
  border-style: solid !important;
  border-width: 8px 0px !important;
}

.MuiTableCell-root {
  border-color: #232846 !important;
  border-style: solid !important;
  border-width: 8px 0px !important;
}

.MuiPaginationItem-root {
  color: #fff !important;
}

.MuiTableHead-root,
.MuiTableCell-stickyHeader {
  background: #232846 !important;
}

.MuiTableCell-head {
  color: #828fbb !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
  text-transform: capitalize !important;
  border-radius: 0px !important;
}

.table-wrapper {
  display: grid;
  max-height: 440px;
  overflow-y: auto;
  min-height: 440px;
  width: 100%;
  /* min-width: auto; */
}

/* .MuiPaginationItem-root, .Mui-selected {
  background-color: #7e3455 !important;
} */

@media only screen and (max-width: 436px) {
  .items-inner-wrapper {
    /* flex-direction: column; */
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
  }
}

.empty-div-wrapper {
  margin: auto;
  position: sticky;
  left: 40%;
  width: 0;
  white-space: nowrap;
}

.label-wrapper {
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 0px 10px;
}

.label-wrapper-bought {
  top: 0;
  right: 0;
  background: rgb(41 76 162 / 50%);
  padding: 0px 10px;
}

.label-wrapper-eth {
  top: -2px;
  left: 0;
  padding: 0px 10px;
}

.label-wrapper-bnb {
  top: -2px;
  left: 0;
  padding: 0px 10px;
}

.label-wrapper-completed {
  top: 0;
  right: 0;
  background: rgb(46 149 36 / 50%);
  padding: 0px 10px;
}

.MuiTableCell-root {
  position: relative;
  border-bottom: none !important;
}

.label-text {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: capitalize;
}

.walletmodal-wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #828fbb;
  background: #232846;
}

.confirm-summary-wrapper {
  border-radius: 15px;
  border: 1px solid #a5abbd;
  background: rgba(21, 24, 40, 0.1);
  backdrop-filter: blur(10px);
}

.leftText {
  color: #828fbb;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.rightText {
  color: #fff;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: capitalize;
}

.summaryseparator {
  background: #565891;
  height: 1px;
  width: 100%;
}

.cancel-btn {
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: linear-gradient(
    180deg,
    #a52d3e 0%,
    #924a5d 52.9%,
    #b70d0d 102.5%
  );
  color: #fff;
}

.confirm-btn {
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: linear-gradient(
    180deg,
    #59989f 0%,
    #46868d 52.9%,
    #20accd 102.5%
  );
  color: #fff;
}
