.headerlogo {
  /* width: 270px; */
  height: 45px;
}

.header-wrapper {
  left: 0;
  /* margin: auto; */
  max-width: 2400px;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 7;
  backdrop-filter: blur(12px);
  border-bottom: 2px solid #525469;
}

.inactive-navlink {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-bottom: 4px solid transparent;
  text-decoration: none;
}

.inactive-navlink:hover,
.activenavlink:hover {
  border-bottom: 4px solid #32b7ea;
  color: #32b7ea;
}

.activenavlink {
  color: #32b7ea;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-bottom: 4px solid #32b7ea;
  text-decoration: none;
}

.connect-btn {
  padding: 10px;
  border-radius: 15px;
  background: linear-gradient(90deg, #3e6fb6 0%, #32b7ea 100%);
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid transparent;
}

.smallfont {
  font-size: 12px !important;
}

.btn-connected {
  padding: 3px 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #fff;
  color: #7e3455;
  border: 1px solid #7e3455;
}

.btn-connected:hover {
  border: 1px solid #7e3455;
  text-decoration: underline;
  background: #fff;
  color: #7e3455;
}

.balance-wrapper2 {
  /* right: -7px; */
  background: transparent;
  padding: 6px 12px;
  border-radius: 15px;
  position: relative;
  border: 1px solid #32b7ea;
  color: white;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.menuwrapper {
  border-radius: 15px;
  border: 1px solid #828FBB;
  background: #171B32;
  padding: 10px;
  position: absolute;
  top: 22px;
  right: -140px;
  width: 145px;
}

.menuitem2 {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
}

.menuitem2:hover {
  background: linear-gradient(
    268deg,
    rgba(255, 255, 255, 0.21) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  color: #11fed2;
}

@media only screen and (max-width: 600px) {
  .connect-btn {
    font-size: 12px;
  }
}

#dropdown-basic-button {
  display: flex;
  align-items: center;
  background: transparent;
  border: 1px solid #32b7ea;
  color: #fff;
  border-radius: 15px;
}

#dropdown-basic-button-error {
  display: flex;
  align-items: center;
  background: transparent;
  border: 1px solid #df81e1;
  border-radius: 15px;
}

.dropdown-title {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dropdown-title-error {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #df81e1;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.change-chain-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #7e3455 !important;
}

.dropdown-item {
  font-size: 12px;
}
