.headerlogo {
  /* width: 270px; */
  height: 45px;
}

.header-wrapper {
  left: 0;
  /* margin: auto; */
  max-width: 2400px;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 7;
  backdrop-filter: blur(12px);
  border-bottom: 2px solid #525469;
}

.inactive-navlink {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-bottom: 4px solid transparent;
  text-decoration: none;
}

.inactive-navlink:hover, .activenavlink:hover {
 
  border-bottom: 4px solid #32B7EA;
  color: #32B7EA;
}

.activenavlink {
  color: #32B7EA;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-bottom: 4px solid #32B7EA;
  text-decoration: none;

}

 

.connect-btn {
  padding: 10px;
  border-radius: 15px;
  background: linear-gradient(90deg, #3E6FB6 0%, #32B7EA 100%);
  border: none;
  outline: none;
  color: #fff;

font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.smallfont {
  font-size: 12px !important;
}

.btn-connected {
  padding: 3px 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #fff;
  color: #7e3455;
  border: 1px solid #7e3455;
}

.btn-connected:hover {
  border: 1px solid #7e3455;
  text-decoration: underline;
  background: #fff;
  color: #7e3455;
}

.balance-wrapper2 {
  right: -7px;
  background: #b98a7f;
  padding: 3px 10px;
  border-radius: 8px;
  position: relative;
  z-index: -1;
  color: white;
}

@media only screen and (max-width: 600px) {
   .connect-btn {
    font-size: 12px;
   }
}

#dropdown-basic-button  {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #7e3455;
  color: #7e3455;
 
}

.dropdown-title {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
  color: #8e97cd;
}

.change-chain-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #7e3455 !important;
}

.dropdown-item {
  font-size: 12px;
}