@font-face {
  font-family: "Organetto";
  src: url("./fonts/Organetto.ttf");
}

body {
  background: linear-gradient(180deg, #191c2f 0%, #141b3f 100%);
}

.font-organetto {
  font-family: "Organetto" !important;
}

* {
  font-family: "Poppins", sans-serif !important;
}

.allroutes-wrapper {
  padding-bottom: 9em;
}

html {
  scroll-behavior: smooth;
}

.whole-wrapper {
  position: relative;
  min-height: 100vh;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0c3572;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
