.mainhero-wrapper {
  min-height: 600px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.animationText {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}

.mainhero-title {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
  text-transform: capitalize;
}

.quicktitle {
  color: #32b7ea;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
  text-transform: capitalize;
}

.main-hero-desc {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mainHero-buybtn {
  border-radius: 20px;
  background: linear-gradient(90deg, #3e6fb6 0%, #32b7ea 100%);
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  padding: 5px 20px;
  text-decoration: none;
}

.mainHero-buybtn:hover {
  color: #fff;
  text-decoration: underline;
}

.card-image {
  width: 200px;
  height: 200px;
}

.cards-upper-container-wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 30px;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.mainheroImg {
  width: 400px;
}

.bottom-text-dexc {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.otc-bottom-blue-wrapper {
  border-radius: 20px;
  background: url("./assets/otcBenefitsBanner.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 60px;
}

.cards-upper-container-item {
  border-radius: 30px;
  background: #232846;
}

.customwrapper {
  border-radius: 0 !important;
  background-size: cover !important;
}

.otcbenefit-title {
  color: #41d8e7;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.otcbenefit-desc {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-title {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.card-desc {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.trust-card-wrapper {
  padding: 10px;
  height: 100%;
  /* filter: drop-shadow(0 4px 20px #7e3455); */
}

/* .MuiAccordionSummary-root {
  background-color: #000 !important;
  backdrop-filter: blur(12.5px) !important;
} */

.MuiTypography-root,
.MuiAccordionSummary-expandIconWrapper,.MuiAccordionSummary-content {
  color: #fff !important;
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
}

.MuiAccordionDetails-root,
.MuiAccordion-root,
.MuiAccordionSummary-root {
  background-color: transparent !important;
  border: none !important;
}

.MuiAccordionSummary-root {
  background-color: transparent !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: 1px solid #fcfcfc !important;
}

.numberImg {
  width: 66px;
}

.faqitem-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.quicktitle-faq {
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: #4cbcc7;
}

.faq-desc {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media only screen and (max-width: 991px) {
  .mainheroImg {
    display: none;
  }
  .cards-wrapper,
  .cards-upper-container-wrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
  }
  .mainhero-wrapper {
    min-height: 420px;
  }
  h1 {
    font-size: 25px;
  }

  span {
    font-size: 12px;
  }

  h6 {
    font-size: 14px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0turn);
  }

  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.tradeimg {
  animation: rotate 10s linear infinite;
  -webkit-animation: rotate 10s linear infinite;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.lockimg {
  animation: pulse 1s linear infinite alternate both;
  -webkit-animation: pulse 1s linear infinite alternate both;
}

@keyframes wobble {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

.exitimg {
  animation: wobble 4s infinite both;
  -webkit-animation: wobble 4s infinite both;
}
